@import url("https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.title {
  font-size: 60px;
  text-align: center;
  padding-bottom: 0px;
  margin-bottom: 0px;
}
body {
  background: #fdfdfd;
  font-family: "Nunito", sans-serif;
  font-size: 1rem;
}
main {
  max-width: 900px;
  margin: auto;
  padding: 0.5rem;
  padding-top: 0%;
  text-align: center;
}
nav {
  display: inline-block;
  align-items: center;
  
}
ul {
  list-style: none;
  display: flex;
}

li {
  margin-right: 1rem;
}
h1 {
  color: #608030;
  margin-bottom: 0.5rem;
}
.container {
  display: inline-block;
  padding: 1rem;
  padding-bottom: 0%;
  padding-top: 0%;
  margin: auto;
}
input[type=button] {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: auto;
  cursor: pointer;
  transition-duration: 0.4s;
}
input[type=button]:hover {
  background-color: #488c41;
  color: white;
}
.card--img {
  border-radius: 50%;
}
.heatcircle {
  position: absolute;
  background-color: red;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  z-index: 1;
}
.table-container {
  margin: auto;
  max-width: 1200px;
  min-height: 100vh;
  overflow: scroll;
  width: 100%;
}
table {
  border-collapse: collapse;
  width: 100%;
}
thead tr {
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
  height: 1px;
}
th {
  font-weight: bold;
  height: inherit;
  padding: 0;
}
th:not(:first-of-type) {
  border-left: 1px solid #ddd;
}
th button {
  background-color: #eee;
  border: none;
  cursor: pointer;
  display: block;
  font: inherit;
  height: 100%;
  margin: 0;
  min-width: max-content;
  padding: 0.5rem 1rem;
  position: relative;
  text-align: left;
  width: 100%;
}
tbody tr {
  border-bottom: 1px solid #ddd;
}
td {
  padding: 0.5rem 1rem;
  text-align: left;
}